<div class="page-container">
  <h4>select</h4>
  <mat-form-field appearance="outline">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      @for (food of foods; track food) {
      <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <h4>suffix & preffix</h4>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
      aria-placeholder="Enter your password"
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" />
    <span matTextPrefix>$&nbsp;</span>
    <span matTextSuffix>0.00</span>
  </mat-form-field>
</div>
